{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "unicorn"],
  "extends": [
    "airbnb-base",
    "plugin:unicorn/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/prop-types": "off",
    "import/extensions": "off",
    "unicorn/filename-case": "off",
    "no-use-before-define": "off",
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "off",
    "unicorn/prevent-abbreviations": "off",
    "no-param-reassign": "off",
    "import/no-unresolved": "off"
  }
}
